/* components/Select/Select.module.css */
.select {
  min-width: 0;
  position: relative;
}

.selectBody {
  position: relative;
}

.selectTitle {
  color: inherit;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
}

.selectValue {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 0.375rem;
}

.selectValue > * {
  flex: 1 1 auto;
}

.selectValue:after {
  content: '\f104';
  font-family: 'Iconfont';
  align-self: stretch;
  inline-size: 0.4375rem;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 0.4375rem;
}

.selectOpen .selectValue:after {
  transform: rotate(-180deg);
}

.selectContent {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selectText {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selectInput {
  padding: 0 0.625rem;
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.selectActive .selectInput::placeholder {
  color: #000;
}

.selectFocus .selectInput::placeholder {
  opacity: 0.5;
}

.selectOptions {
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 0.25rem 0.25rem;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border-top: 0;
  padding: 0.625rem 0.1875rem 0.3125rem 0rem;
}

.selectScroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.selectOption {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 0.3125rem 0.1875rem;
  border-inline-start: 0.0625rem solid transparent;
  color: inherit;
}

.selectOption.selected {
  background-color: #eee;
}

/* Hover эффекты */
@media (any-hover: hover) {
  .selectOption:hover {
    background: #f7f7f7;
    border-inline-start: 0.0625rem solid #2c742f;
  }
}
