.header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.top-header {
  padding-block: 0.75rem;
  font-size: 0.75rem;
  color: #666666;
  border-block-end: 0.0625rem solid #e5e5e5;
  line-height: 1.3;
  background-color: #ffffff;
}

.top-header__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 1.25rem;
  justify-content: space-between;
  align-items: center;
}

.address-top-header__link {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  transition: 0.2s;
}
.address-top-header__link::before {
  flex-shrink: 0;
  align-self: flex-start;
  font-size: 0.9375rem;
}

.actions-top-header {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.actions-top-header__utils {
  display: flex;
  column-gap: 1.25rem;
  align-items: center;
}
.actions-top-header__utils::after {
  content: '';
  inline-size: 0.0625rem;
  block-size: 0.9375rem;
  background-color: #e6e6e6;
}
.actions-top-header .links-auth {
  display: flex;
  column-gap: 0.25rem;
  transition: 0.2s;
}
.actions-top-header .links-auth__sign-in,
.actions-top-header .links-auth__sign-up {
  text-transform: capitalize;
}

.middle-header {
  background-color: #ffffff;
}
.middle-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
}
.button-search {
  flex-shrink: 0;
  block-size: 2.8125rem;
  border-radius: 0 0.375rem 0.375rem 0;
  padding-inline: 1.25rem;
  color: #ffffff;
  font-weight: 600;
  background-color: #00b207;
  line-height: 1.2;
  transition: background-color 0.2s;
}

.logo {
  display: flex;
  flex-shrink: 0;
  column-gap: 0.5rem;
  align-items: center;
}
.logo__icon {
  inline-size: 2rem;
  aspect-ratio: 1;
}
.logo__text {
  color: #002603;
  letter-spacing: -0.06rem;
  font-weight: 500;
  line-height: 1.18;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before,
.--spoller-init .spollers__title::after {
  content: '';
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}
.menu__body {
  block-size: 100%;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem 2rem;
  min-block-size: 100%;
}
.menu__item {
  position: relative;
  display: flex;
  column-gap: 0.625rem;
}
.menu__item.--active {
  flex-wrap: wrap;
}
.menu__item.--active .menu__link {
  color: #ffffff;
}
.menu__item.--active .sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: block;
}
.menu__item.--active .menu__button::before {
  color: #ffffff;
  transform: rotate(180deg);
}
.menu__link {
  display: flex;
  align-items: center;
  height: 100%;
  color: #999999;
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.2s;
}
.menu__button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu__button::before {
  font-size: 0.5rem;
  color: #999999;
  transition:
    color 0.2s,
    transform 0.2s;
}

.icon-menu {
  display: none;
}

.sub-menu {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 100%;
  z-index: 2;
  min-inline-size: 12.5rem;
  padding: 0.625rem;
  color: #ffffff;
  background-color: #1a1a1a;
  border-radius: 0 0 0.5rem 0.5rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.4s;
}
.sub-menu > *:not(:last-child) {
  margin-block-end: 0.75rem;
}
.sub-menu__link {
  text-transform: capitalize;
}

.user-actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.user-actions__favourite {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  transition: color 0.2s;
}
.user-actions__favourite::before {
  font-size: 1.6875rem;
}
.user-actions__favourite:not(:last-child)::after {
  content: '';
  inline-size: 0.0625rem;
  block-size: 1.5rem;
  background-color: #cccccc;
}
.cart-header {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}
.cart-header__icon {
  position: relative;
}
.cart-header__icon::before {
  font-size: 1.6875rem;
}
.cart-header__icon span {
  position: absolute;
  inset-inline-end: -0.1875rem;
  inset-block-start: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-inline-size: 1.125rem;
  aspect-ratio: 1;
  padding: 0.1875rem;
  border-radius: 50%;
  border: 0.0625rem solid #ffffff;
  background-color: #2c742f;
  font-size: 0.625rem;
  color: #ffffff;
  line-height: 1;
  opacity: 0.95;
  transition: background-color 0.2s;
}
.cart-header__body {
  display: flex;
  flex-direction: column;
  row-gap: 0.4375rem;
  flex: 0 0 6.25rem;
}
.cart-header__label {
  font-size: 0.6875rem;
  color: #4d4d4d;
  line-height: 1.2;
}
.cart-header__value {
  font-weight: 500;
  line-height: 1;
  transition: color 0.2s;
}

.bottom-header {
  background-color: #1a1a1a;
}
.bottom-header__container {
  display: flex;
  gap: 0.625rem 1.25rem;
  justify-content: space-between;
}
.bottom-header__tel {
  display: flex;
  flex-shrink: 0;
  column-gap: 0.5rem;
  align-items: center;
  align-self: flex-start;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.2s;
}
.bottom-header__tel.--dynamic {
  color: #333333;
}
.bottom-header__tel.--dynamic span {
  display: none;
}
.bottom-header__tel::before {
  display: block;
  font-size: 1.25rem;
  transition: color 0.2s;
}
