/* components/Button/Button.module.css */
.button {
  display: inline-flex;
  flex-shrink: 0;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #00b207;
  border-radius: 2.6875rem;
  line-height: 1.2;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button.light {
  color: #00b207;
  background-color: #ffffff;
}

.button.iconNext {
  flex-direction: row-reverse;
  column-gap: 1rem;
  align-items: center;
}

.button.iconFilter {
  flex-direction: row-reverse;
  column-gap: 0.75rem;
  align-items: center;
  padding: 0.9375rem 2rem;
  font-size: 0.875rem;
}

.button.iconFilter::before {
  font-size: 1.25rem;
  line-height: 0.8;
}

.button.lightGreen {
  background-color: #e7f0e9;
  color: #1a1a1a;
}

.button::before {
  transition: transform 0.2s;
}

.button.border {
  border: 0.125rem solid #00b207;
}

.button.tag {
  border-radius: 1.875rem;
  font-size: 0.875rem;
  color: #1a1a1a;
  background-color: #f2f2f2;
  line-height: 1.5;
  transition: background-color 0.2s;
}

.button.outOfStock {
  color: #b3b3b3;
  background-color: #f2f2f2;
  pointer-events: none;
}

.button.gray {
  color: #4d4d4d;
  background-color: #f2f2f2;
}

/* Hover эффекты */
@media (any-hover: hover), (pointer: fine) {
  .button:hover {
    background-color: #2c742f;
  }

  .button:hover::before {
    transform: translateX(0.125rem);
  }

  .button.light:hover {
    background-color: #f2f2f2;
  }

  .button.lightGreen:hover {
    background-color: #98c5a2;
  }

  .button.border:hover {
    color: #2c742f;
    border: 0.125rem solid #2c742f;
    background-color: #ffffff;
  }

  .button.tag:hover {
    color: #ffffff;
    background-color: #00b207;
  }

  .button.gray:hover {
    background-color: #cccccc;
  }
}
