/* components/Menu/Menu.module.css */
.menuBody {
  block-size: 100%;
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem 2rem;
  min-block-size: 100%;
}

.menuItem {
  position: relative;
  display: flex;
  column-gap: 0.625rem;
}

.menuItem.active {
  flex-wrap: wrap;
}

.menuItem.active .menuLink {
  color: #ffffff;
}

.menuItem.active .subMenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: block;
}

.menuItem.active .menuButton::before {
  color: #ffffff;
  transform: rotate(180deg);
}

.menuLink {
  display: flex;
  align-items: center;
  height: 100%;
  color: #999999;
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.2s;
}

.menuButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menuButton::before {
  font-size: 0.5rem;
  color: #999999;
  transition:
    color 0.2s,
    transform 0.2s;
}

/* Mobile Menu */
.iconMenu {
  display: none;
}

.subMenu {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 100%;
  z-index: 2;
  min-inline-size: 12.5rem;
  padding: 0.625rem;
  color: #ffffff;
  background-color: #1a1a1a;
  border-radius: 0 0 0.5rem 0.5rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.4s;
}

/* Media Queries для Menu */
@media (max-width: 47.99875em) {
  .menuBody {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    z-index: 5;
    padding: 8.4375rem 0.9375rem 1.875rem 0.9375rem;
    background-color: #1a1a1a;
    transition: left 0.3s;
  }

  [data-fls-menu-open] .menuBody {
    left: 0;
  }

  .iconMenu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .subMenu {
    display: none;
    position: relative;
    flex: 1 1 100%;
    margin-inline-start: 0.625rem;
    margin-block-start: 0.625rem;
    background-color: #333333;
    border-radius: 0.5rem;
  }
}
